<div class="about__text-group">
  <div class="text-wrapper">
    <strong class="text-wrapper__sub-title tui-text_h6"
      >FOUNDER-ĀCĀRYA OF INTERNATIONAL SOCIETY FOR KRISHNA CONSCIOUSNESS</strong
    >
    <h2 class="text-wrapper__title tui-text_h2">Śrīla Prabhupāda</h2>
    <p class="text-wrapper__text tui-text_body-m">
      The honorific title Prabhupāda is properly used for designating those very
      great spiritual masters who have made an outstanding contribution of
      literature or preaching to the world. Examples are Śrīla Rūpa Gosvāmī
      Prabhupāda, Śrīla Jīva Gosvāmī Prabhupāda, and Śrīla Bhaktisiddhānta
      Sarasvati Gosvāmī Prabhupāda.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      When members of ISKCON speak of “Śrīla Prabhupāda,” they refer to His
      Divine Grace A.C. Bhaktivedānta Swāmī Prabhupāda. A.C. Bhaktivedanta Swami
      is correctly addressed as Śrīla Prabhupāda because he occupies a unique
      position in the religious history of the world.
    </p>

    <a routerLink="../srila" class="about__link tui-text_h6"
      >Read more
      <tui-svg class="about__arrow-icon" src="tuiIconArrowRight"></tui-svg
    ></a>
  </div>
  <!-- /.text-wrapper -->
  <img
    class="about__photo"
    src="../../../../assets/img/srila1.jpg"
    alt="About: Srila Prabhupāda"
  />
</div>
<!-- /.about__text-group -->
<div class="about__text-group about__text-group--reverse">
  <img class="about__photo" src="../../../../assets/img/bhakti1.jpg" alt="" />
  <div class="text-wrapper">
    <strong class="text-wrapper__sub-title tui-text_h6"
      >A DISCIPLE OF HIS DIVINE GRACE A.C. BHAKTIVEDANTA SWAMI
      PRABHUPĀDA</strong
    >
    <h2 class="text-wrapper__title tui-text_h2">Bhakti Vikāsa Swami</h2>
    <p class="text-wrapper__text tui-text_body-m">
      His Holiness Bhakti Vikāsa Swami appeared in this world in 1957 in
      England. He joined the International Society for Krishna Consciousness
      (ISKCON) in London in 1975 and was initiated in that year with the name
      Ilāpati dāsa by ISKCON’s founder-ācārya, His Divine Grace A.C.
      Bhaktivedanta Swamī Prabhupāda.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      From 1977 to 1979 His Holiness was based in India, mostly traveling in
      West Bengal preaching Kṛṣṇa consciousness and distributing Śrīla
      Prabhupāda’s books. He then spent the following ten years helping to
      pioneer ISKCON’s preaching in Bangladesh, Burma, Thailand, and Malaysia.
    </p>

    <a routerLink="../bhakti" class="about__link tui-text_h6"
      >Read more
      <tui-svg class="about__arrow-icon" src="tuiIconArrowRight"></tui-svg
    ></a>
  </div>
  <!-- /.text-wrapper -->
</div>
<!-- /.about__text-group -->
