<a routerLink="../leaders" class="about__link tui-text_h6"
  ><tui-svg class="about__arrow-icon" src="tuiIconArrowLeft"></tui-svg> Go
  back</a
>
<div class="about__text-group about__text-group--reverse">
  <img
    class="about__photo"
    src="../../../../assets/img/bhakti1.jpg"
    alt="About: Bhakti Vikāsa Swamī"
  />
  <div class="text-wrapper">
    <strong class="text-wrapper__sub-title tui-text_h6"
      >A DISCIPLE OF HIS DIVINE GRACE A.C. BHAKTIVEDANTA SWAMI
      PRABHUPĀDA</strong
    >
    <h2 class="text-wrapper__title tui-text_h2">Bhakti Vikāsa Swami</h2>
    <p class="text-wrapper__text tui-text_body-m">
      His Holiness Bhakti Vikāsa Swami appeared in this world in 1957 in
      England. He joined the International Society for Krishna Consciousness
      (ISKCON) in London in 1975 and was initiated in that year with the name
      Ilāpati dāsa by ISKCON’s founder-ācārya, His Divine Grace A.C.
      Bhaktivedānta Swami Prabhupāda.From 1977 to 1979 His Holiness was based in
      India, mostly traveling in West Bengal preaching Kṛṣṇa consciousness and
      distributing Śrīla Prabhupāda’s books. He then spent the following ten
      years helping to pioneer ISKCON’s preaching in Bangladesh, Burma,
      Thailand, and Malaysia.
    </p>
    <p class="text-wrapper__text tui-text_body-m">
      In 1989 he was granted the order of sannyāsa, receiving the name Bhakti
      Vikāsa Swami, and again made his base in India.He has since travelled
      widely throughout the subcontinent, lecturing in English, Hindi, and
      Bengali. His Holiness also travels to and preaches Kṛṣṇa consciousness in
      other parts of the world.
    </p>
  </div>
  <!-- /.text-wrapper -->
</div>
<!-- /.about__text-group -->

<div class="about__text-group">
  <div class="text-wrapper">
    <p class="text-wrapper__text tui-text_body-m">
      He continues to write books and magazine articles. His books have been
      translated into more than fifteen languages.
    </p>
    <div class="about-photos">
      <img
        src="../../../../../assets/img/bhakti-min-1.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/bhakti-min-2.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/bhakti-min-3.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/bhakti-min-4.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/bhakti-min-5.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
    </div>
    <!-- /.about-photos -->
  </div>
  <!-- /.about__text-group -->
</div>
