<a routerLink="../leaders" class="about__link tui-text_h6"
  ><tui-svg class="about__arrow-icon" src="tuiIconArrowLeft"></tui-svg> Go
  back</a
>

<div class="about__text-group about__text-group--reverse">
  <img
    class="about__photo"
    src="../../../../assets/img/srila2.png"
    alt="About: Srila Prabhupāda"
  />
  <div class="text-wrapper">
    <strong class="text-wrapper__sub-title tui-text_h6"
      >FOUNDER-ĀCĀRYA OF INTERNATIONAL SOCIETY FOR KRISHNA CONSCIOUSNESS</strong
    >
    <h2 class="text-wrapper__title tui-text_h2">Śrīla Prabhupāda</h2>
    <p class="text-wrapper__text tui-text_body-m">
      The honorific title Prabhupāda is properly used for designating those very
      great spiritual masters who have made an outstanding contribution of
      literature or preaching to the world. Examples are Śrīla Rūpa Gosvāmī
      Prabhupāda, Śrīla Jīva Gosvāmī Prabhupāda, and Śrīla Bhaktisiddhānta
      Sarasvati Gosvāmī Prabhupāda.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      When members of ISKCON speak of “Śrīla Prabhupāda,” they refer to His
      Divine Grace A.C. Bhaktivedānta Swāmī Prabhupāda. A.C. Bhaktivedanta Swami
      is correctly addressed as Śrīla Prabhupāda because he occupies a unique
      position in the religious history of the world.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      In Śrīmad-Bhāgavatam (1.5.11), Vyāsadeva states that the Bhāgavatam “is
      meant to bring about a revolution in the impious life of a misdirected
      civilization.” This statement clearly refers to the preaching mission
      heralded by Śrīla A.C. Bhaktivedanta Swami Prabhupāda, whose purports on
      Śrīmad-Bhāgavatam, composed five thousand years after Śrīla Vyāsadeva’s
      compilation of the Bhāgavatam, have become the most important contribution
      for the revolutionary respiritualization of the entire human society,
      which was lost in the darkness of materialism.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Lord Caitanya Mahāprabhu also predicted that His holy name would be
      broadcast in every town and village of the world. Ācāryas of His
      sampradāya predicted that the spread of Kṛṣṇa consciousness would usher in
      a ten-thousand year Golden Age within the dark age of Kali. And in
      Caitanya Mangala, Locana dāsa Ṭhākura foretold that a great senapati
      (military general) would appear to widely and powerfully preach Lord
      Caitanya’s message. That confidential task of spreading Kṛṣṇa
      consciousness all over the world was entrusted to His Divine Grace A.C.
      Bhaktivedanta Swami Prabhupāda.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Śrī Caitanya-caritāmṛta confirms that unless one is specifically empowered
      by Kṛṣṇa, he cannot infuse Kṛṣṇa consciousness into the hearts of the
      masses. Bhaktivinoda Ṭhākura, a great Vaiṣṇava ācārya who appeared in the
      nineteenth century, predicted that very soon a great personality would
      appear and spread Kṛṣṇa consciousness all over the world. That person is
      clearly His Divine Grace A.C. Bhaktivedanta Swami Prabhupāda.
    </p>
  </div>
  <!-- /.text-wrapper -->
</div>
<!-- /.about__text-group -->

<div class="about__text-group">
  <div class="text-wrapper">
    <p class="text-wrapper__text tui-text_body-m">
      Bhaktivinoda Ṭhākura also said that the greatness of a Vaiṣṇava can be
      understood by seeing how many nondevotees he converts to Vaiṣṇavism. To
      bring even a highly qualified person to Kṛṣṇa consciousness is difficult,
      but Śrīla Prabhupāda was so empowered by Kṛṣṇa that he went amongst the
      most unlikely candidates — the hedonistic youth of the Western countries —
      and made devotees by the thousands. No one can fully understand the
      extraordinary task Śrīla Prabhupāda performed. He went alone amongst
      persons with no standard of Vedic culture, persons brought up in a society
      which vigorously promotes meat-eating, illicit sex, gambling, and
      intoxication. They had no idea how to receive a sādhu and were almost
      completely disqualified as candidates for spiritual life.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda not only entered amongst such people, but gradually
      managed to train many of them to the extent that now they are accepted
      everywhere as first-class Vaiṣṇavas and preachers, qualified to impart
      Kṛṣṇa consciousness to others.
    </p>
    <p class="text-wrapper__text tui-text_body-m">
      In India’s recent history, there were certainly many Vaiṣṇavas who were
      devoted, learned, and renounced. However, the fact remains that only Śrīla
      Prabhupāda was sufficiently qualified to spread Kṛṣṇa consciousness all
      over the world. Only he had sufficient faith in the instructions of Lord
      Caitanya, the order of his spiritual master, and the holy name of Kṛṣṇa to
      seriously attempt spreading Kṛṣṇa consciousness outside of India. Only he
      had enough compassion and vision to preach the message of Lord Caitanya to
      those who most needed it. Only one of the topmost confidential devotees of
      Kṛṣṇa could perform such an extraordinary task. By his unparalleled
      achievements, it is clear that Śrīla Prabhupāda occupies a unique position
      in the history of Vaiṣṇavism.
    </p>
  </div>
  <!-- /.text-wrapper -->
  <img
    src="../../../../assets/img/srila3.png"
    class="about__photo"
    alt="About: Srila Prabhupāda"
  />
</div>
<!-- /.about__text-group -->

<div class="about__text-group">
  <div class="text-wrapper">
    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda was empowered to spread Kṛṣṇa consciousness in a
      practical and straightforward way, just suitable for the modern world.
      Without changing or compromising the teachings of Kṛṣṇa consciousness even
      slightly, he presented its esoteric truths in a clear and intelligible
      manner, suitable for both the layman and the scholar.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda personally oversaw the expansion and development of
      ISKCON. He personally set up the programs which were to form the basis of
      ISKCON’s continued expansion: production and distribution of
      transcendental books, harināma-sankirtana parties, temples, āśrams,
      prasāda distribution, transcendental farm communities, gurukulas,
      preaching to scientists and scholars, and so on.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda personally gave detailed directions about every aspect of
      Kṛṣṇa consciousness: how to worship Deities, how to conduct sādhana, how
      to preach, how to wear a dhoti, how to cook for Kṛṣṇa, how to chant
      mantras, and so forth. Śrīla Prabhupāda is thus the founder-ācārya of
      ISKCON. Whatever standards and instructions comprise ISKCON have come from
      him. Therefore Śrīla Prabhupāda will always remain the preeminent
      śikṣā-guru and ācārya of ISKCON.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Both scripture and tradition offer various approaches to Kṛṣṇa
      consciousness, but followers of Śrīla Prabhupāda execute Kṛṣṇa
      consciousness as he showed them, knowing that Śrīla Prabhupāda, as a
      faithful follower of his guru and the previous ācāryas, presented Kṛṣṇa
      consciousness in the best way for the modern age.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Both scripture and tradition offer various approaches to Kṛṣṇa
      consciousness, but followers of Śrīla Prabhupāda execute Kṛṣṇa
      consciousness as he showed them, knowing that Śrīla Prabhupāda, as a
      faithful follower of his guru and the previous ācāryas, presented Kṛṣṇa
      consciousness in the best way for the modern age.
    </p>

    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda’s success is itself proof that his endeavors are
      approved, ordained, and blessed by the Supreme Lord Kṛṣṇa Himself.
    </p>
    <div class="about-photos">
      <img
        src="../../../../../assets/img/srila-min-1.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/srila-min-2.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/srila-min-3.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/srila-min-4.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/srila-min-5.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
      <img
        src="../../../../../assets/img/srila-min-6.jpg"
        alt="Srila Prabhupāda"
        class="about-photos__photo"
      />
    </div>
    <!-- /.about-photos -->
    <p class="text-wrapper__text tui-text_body-m">
      Śrīla Prabhupāda gave many instructions, but certain ones are absolutely
      necessary for initiated disciples to follow if they claim to be genuine
      and serious followers of Prabhupāda. For instance, Śrīla Prabhupāda
      demanded that initiated devotees rise by 4.00 a.m., attend mangala-āratī,
      chant at least sixteen rounds of the mahā-mantra every day, and
      undeviatingly follow the four regulative principles.
    </p>
    <p class="text-wrapper__text tui-text_body-m">
      All such standards that Śrīla Prabhupāda clearly defined are the standards
      to be followed in ISKCON. A rightly situated, successful follower of Śrīla
      Prabhupāda is simply a faithful standard-bearer. He does not try to change
      or interpret the standards and programs given by Prabhupāda, for he knows
      that whatever Śrīla Prabhupāda has given us is perfect and complete for
      the respiritualization of the entire human society — not only for the
      present, but for the next ten thousand years.
    </p>
    <p class="text-wrapper__text text-wrapper__text--bold tui-text_body-m">
      -From Beginner’s Guide to Krsna Consciousness
    </p>
    <p class="text-wrapper__text tui-text_body-m">
      How can “The Significance of Śrīla Prabhupāda” be rendered in three pages?
      Even if we could write millions of books, we could hardly begin to expound
      his glories. If we were to take the entire universe — with its planets,
      outer space, continents, oceans, mountains, men, demigods, and demons on
      one side — and one drop of dust from Śrīla Prabhupāda’s lotus feet on the
      other, there would be no comparison. One drop of dust from Śrīla
      Prabhupāda’s lotus feet is millions of times more valuable than anything
      the material world has to offer.
    </p>
  </div>
  <!-- /.about__text-group -->
</div>
