.downloads {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 15px;
  &::ng-deep {
    .table {
      min-width: 80%;
      max-width: 100%;
      td,
      th {
        padding: 0 10px;
        &:first-child {
          padding-left: 6px;
        }
      }
      th {
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.4px;
        text-align: start;
        border: 0;
      }
      td {
        position: relative;
        z-index: 1;
        max-width: 50vw;
        height: 32px;
        color: #000000;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        background: transparent;
        border: 0;

        &:first-child {
          max-width: 45vw;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:last-child {
          width: 100px;
        }
      }
      tr {
        position: relative;
      }
      tbody {
        tr {
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 60px);
            height: 100%;
            background: #f4f4f4;
            border-radius: 4px;
            opacity: 0;
            transition: ease-out 0.17s;
            content: "";

            @media not all and (min-resolution: 0.001dpcm) {
              @supports (-webkit-appearance: none) {
                display: none;
              }
            }
          }

          &:hover {
            &::after {
              opacity: 1;
            }
            @media not all and (min-resolution: 0.001dpcm) {
              @supports (-webkit-appearance: none) {
                td {
                  background: #f4f4f4;
                  transition: ease-out 0.17s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.td {
  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
